.Counter {
	border: 2px solid rgba(210, 28, 192, 0.58);
	background-color: rgba(50, 87, 252, 0.49);
	border-radius: 20px;
	position: absolute;
	width: 400px;
	height: 300px;
	top: 10%;
	display: flex;
	align-items: center;
	justify-content: center;
}
.none {
	border: 2px solid rgba(210, 28, 192, 0.58);
	background-color: rgba(50, 87, 252, 0.49);
	border-radius: 20px;
	position: absolute;
	width: 400px;
	height: 300px;
	top: 10%;
	display: flex;
	align-items: center;
	justify-content: center;
	display: none;
}