.inputBlock{
}
.input{
	margin-left: 40px;
	margin-top: 10%;
	width: 50%;
	height: 30px;
	border-radius: 5px;

}
.inputBlock{
	text-align: center;
	flex-wrap: wrap;
	justify-content: center;
}
.btnInc{
	margin-top: 10px;
	padding: 10px;
	background-color: yellowgreen;
	border-radius: 10px;
	color: white;
}
.inputLeadBlock{
	width: 350px;
	height: 160px;
	border: 1px solid #740606;
	border-radius: 10px;
}