.block {
	text-align: center;
	display: flex;
	flex-direction: column;
	width: 400px;
	border-radius: 30px;
	align-self: center;
}

.counter {
	border: 2px solid rgba(210, 28, 192, 0.58);
	background-color: rgba(50, 87, 252, 0.49);
	border-radius: 20px;
	max-width: 400px;
	height: 300px;
	display: flex;
}

.btnSetting {
	padding: 5px;
	background: rgba(114, 8, 100, 0.72);
	color: rgba(207, 220, 23, 0.89);
	border-radius: 10px;
	font-weight: bold;
	font-family: Arial;
}

.btnInc {
	padding: 10px;
	position: relative;
	right: 50px;
	background-color: yellowgreen;
	bottom: 15px;
	border-radius: 10px;
	color: white;
	margin-right: 10px;
}

.btnIncErr {
	padding: 10px;
	position: relative;
	right: 50px;
	bottom: 15px;
	background-color: darkred;
	border-radius: 10px;
	color: white;
	margin-right: 10px;
	opacity: 0.22;
}

.btnDrop {
	padding: 10px;
	position: relative;
	left: 60px;
	top: 25px;
	background-color: yellowgreen;
	border-radius: 10px;
	color: white;
	opacity: 0.22;
}

.btnErrDrop {
	padding: 10px;
	position: relative;
	left: 60px;
	top: 25px;;
	background-color: darkred;
	border-radius: 10px;
	color: white;
}

.counterDisplayErr {
	max-height: 40px;
	margin: 0;
	color: red;
	font-size: 45px;
	font-weight: bold;
}

.counterDisplay {
	margin: 0;
	color: yellow;
	font-weight: bold;
	font-size: 30px;
}

.counterText {
	font-size: 2em;
	font-weight: bold;
	color: yellow;
}

.buttonCounterAll {
	margin-top: 5%;
}